.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto-fit;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.grid-item {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}