* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container ul li {
    margin: 10px
}
