.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.grid-item {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}