* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    width: 100vw;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}