*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 400px;
}

.galeria {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}